.nav_bottom_padding {
  padding-bottom: 40px;
}

/* Centering nav bar links vertically */
.navbar-nav li a {
 line-height: 10px;
  margin-bottom: 0;
  padding-bottom: 7px;
  color: white !important;
}

.nav_bar_labels {
  font-weight: bold;
  font-size: 12pt;
}

.blue_bottom_border_thin u {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid #2593B8;
}
.pink_bottom_border_thin u {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid #FF3399;
}
.green_bottom_border_thin u {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid #2EB82E;
}

.pad_bottom_small {
  padding-bottom: 15px;
}

/* Adding more space between nav bar links */
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.row_top_padding {
  padding-top: 25px;
}
.row_bottom_padding {
  padding-bottom: 60px;
}
.row_bottom_padding_small {
  padding-bottom: 25px;
}

.home_font {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14pt;
}

.box_font {
  font-size: 12pt;
  width: 100%;
}

.light_font {
  color: gray;
}

.box_padding {
  padding: 15px;
}

/* Need to figure out how to apply these */
.dotted_top {
  border-top-style: dotted;
}
.dotted_top_bottom {
  border-top-style: dotted;
  border-bottom-style: dotted;
}
.dotted_bottom {
  border-bottom-style: dotted;
}
/* CSS for home page image */
.image {
  position: relative;
}

.main_text {
  position: absolute;
  top: 15%;
  text-align: center;
  width: 100%;
}

.green_text {
  color: #527A00;
}

.orange_button {
  background-color: #f3a656;
  color: white;
  border-radius: 18px;
}

.main_button {
  padding:12px 18px;
  font-size:22px;
  line-height:1.33;
  background-color: #f3a656;
  color: white;
  border-radius: 22px;
}

.title_image_font_large {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 310%;
}

.title_image_font_small {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45%;
  color: #666666;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* CSS for handling the resizing of the text over the main title image. */
@media screen and (max-width: 1800px) {
  .title_image_font_large {
    font-size:300%;
  }
  .title_image_font_small {
    font-size:43%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main_button {
    padding:12px 18px;
    font-size:22px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 22px;
  }
}
@media screen and (max-width: 1700px) {
  .title_image_font_large {
    font-size:290%;
  }
  .title_image_font_small {
    font-size:42%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main_button {
    padding:12px 18px;
    font-size:22px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 22px;
  }
}
@media screen and (max-width: 1600px) {
  .title_image_font_large {
    font-size:280%;
  }
  .title_image_font_small {
    font-size:41%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .main_button {
    padding:12px 18px;
    font-size:22px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 22px;
  }
}
@media screen and (max-width: 1500px) {
  .title_image_font_large {
    font-size:260%;
  }
  .title_image_font_small {
    font-size:50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main_button {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 18px;
  }
}
@media screen and (max-width: 1400px) {
  .title_image_font_large {
    font-size:210%;
  }
  .title_image_font_small {
    font-size:60%;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .main_button {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 18px;
  }
}
@media screen and (max-width: 1300px) {
  .title_image_font_large {
    font-size:200%;
  }
  .title_image_font_small {
    font-size:60%;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .main_button {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .title_image_font_large {
    font-size:200%;
  }
  #title_image_font_small {
    display: none;
  }
  .main_button {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    background-color: #f3a656;
    color: white;
    border-radius: 18px;
  }
  #main_buttons {
    padding-top: 40px;
  }
}
@media screen and (max-width: 900px) {
  .title_image_font_large {
    font-size:200%;
  }
  #title_image_font_small {
    display: none;
  }
  .main_button {
    padding:8px 14px;
    font-size:14px;
    line-height:1.33;
  }
}
@media screen and (max-width: 800px) {
  .title_image_font_large {
    font-size:190%;
  }
  #title_image_font_small {
    display: none;
  }
  .main_button {
    padding:8px 14px;
    font-size:10px;
    line-height:1.33;
  }
  #main_buttons {
    padding-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .title_image_font_large {
    font-size:180%;
  }
  #title_image_font_small {
    display: none;
  }
  .main_button {
    padding:7px 13px;
    font-size:10px;
    line-height:1.33;
  }
  #main_buttons {
    padding-top: 10px;
  }
}
@media screen and (max-width: 670px) {
  .title_image_font_large {
    font-size:110%;
  }
  #title_image_font_small {
    display: none;
  }
  .main_button {
    padding:7px 13px;
    font-size:10px;
    line-height:1.33;
  }
  #main_buttons {
    padding-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .title_image_font_large {
    font-size:90%;
  }
  #title_image_font_small {
    display: none;
  }
  .main_button {
    padding:7px 13px;
    font-size:10px;
    line-height:1.33;
  }
  #main_buttons {
    padding-top: 12px;
  }
}

.messages {
  text-align: center;
  color: green;
  font-size: 16pt;
  font-weight: bold;
}

.large_white_text {
  color: white;
  font-size: 48pt;
}

.logged_in_text {
  padding-top: 6px;
  color: white !important;
  font-size: 12pt;
  font-family: 'Droid Sans', sans-serif;

}

/* Sticky footer http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */

* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Droid Sans', sans-serif;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px;
}

.m_footer, .push {
    height: 250px;
}

/* End sticky footer */

.m_footer{
    background: #000 url(http://127.0.0.1:8000/static/img/bg_footer.png);
    padding-top: 50px;
    text-align: center;
}

.m_footer a,.m_footer .muted{
    color: #fff;
    font-size: 12px;
}

.m_footer .container .list-inline:first-child{
    margin-bottom: 2px;
}

.m_footer .container .list-inline:last-child{
    margin-top:-10px;
}

.footer_ctsa {
  color: #E2E4E3;
  font-size: 12px;
  text-align: left;
}

#mobile-footer {
    display: none;
}

@media (max-width: 992px) {
 
  #desktop-footer {
    margin-top: -20px;
  }
}

@media (max-width: 600px) {

  #desktop-footer {
    display: none;
  }

  #mobile-footer {
    display: inline;
  }
  #mobile-footer a {
    font-size: 15px;
    text-decoration: underline;
  }
  #mobile-footer a:hover {
    text-decoration: none;
  }
}