/* These are overrides to jorge's design to make it 
 * work with our the django templating system.
 */

.alert-error {
  background-color: white;
  border: thin solid red;
  color: red;
  font-size: large;
  margin: 1em auto 1em 25%;
  width: 50%;
}
.alert-error a {
  color: red;
}

.archive_nav {
  background-color: #EDEDED;
  padding-top: 1em;
  width: 100%;
}
.archive_nav a {
  color: #54977c;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  vertical-align: middle;
}

.breadcrumb li span {
  padding-left: 10%;
}
.breadcrumb a.color_arrow {
  color: #1A884A !important;
}
.breadcrumb .breadTitle {
  line-height: 105%;
  margin-top: 0.8em;
  text-align: center;
}
.breadcrumb li, .breadcrumb ul {
  width: 100%;
}

.centered {
  text-align: center;
}

/* Need to pad out the bottom of the formset */
.collaborator_formset {
  margin-bottom: 7em;
}

dl.padded_top {
  margin-top: 1em;
}

/* Form needs to be spaced away from header */
form {
  margin-top: 1em;
}
form li {
  list-style-type: none;
}

.form-group button a {
  color: white !important;
}

/* Override to make look like an h4 */
label {
  color: inherit;
  font-size: 18px !important;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 10px;
}

#monthly_nav span {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  margin-left: 5%;
  margin-right: 5%;
}

.nav_back_text {
  display: inline-block;
}

.row_colored {
  background-color: #E6EED6;
  color: inherit;
}

table {
  caption-side: bottom;
}
table caption {
  font-size: smaller;
  font-style: oblique;
  text-align: center;
}
table th.report_first_col {
  width: 85%;
}

.table td.border_none, .table th.border_none {
  border-bottom: none;
  border-top: none;
}
td.left_line {
  border-left: thin solid #9CBA5F;
}
#projects .table td.top_line,
#projects .table th.top_line {
  border-top: thin solid #9CBA5F;
}

/* Necessary to let us override the borders ff. */
#projects .admin-report > thead > tr > td,
#projects .admin-report > thead > tr > td,
#projects .admin-report > thead > tr > th,
#projects .admin-report > thead > tr > th {
  border: none;
}
#projects .table > tbody > tr.bottom_line > td,
#projects .table > thead > tr.bottom_line > td,
#projects .table > tbody > tr.bottom_line > th,
#projects .table > thead > tr.bottom_line > th {
  border-bottom: thin solid #9CBA5F !important;
}
#projects .table > tbody > tr.top_line > td,
#projects .table > thead > tr.top_line > td,
#projects .table > tbody > tr.top_line > th,
#projects .table > thead > tr.top_line > th {
  border-top: thin solid #9CBA5F !important;
}
