<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#impart-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="large_white_text" href="{% url 'crowd_sourcing:index' %}">
      Impart
    </a>
  </div>
</div><!-- /.container-fluid -->
</nav>
<div class="container-fluid nav_bottom_padding">
</div>