{% load i18n %}

<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#impart-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="large_white_text" href="{% url 'crowd_sourcing:index' %}">
      Impart
    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="impart-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'crowd_sourcing:about' %}" class="nav_bar_labels pink_label">ABOUT</a></li>
      <li><a href="{% url 'crowd_sourcing:contact' %}" class="nav_bar_labels green_label">CONTACT</a></li>
      {% if user.is_authenticated %}
        <li><a title="{% trans 'Logged in as' %} {{ user.get_username }}" class="btn btn-lg orange_button" href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
      {% else %}
        <li><a class="btn btn-lg orange_button" href="{% url 'auth:login' %}">Login</a>
      {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container-fluid nav_bottom_padding">
</div>