{% load staticfiles %}<!DOCTYPE html>{% spaceless %}{% endspaceless %}
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={% block page_description %}"{{ PUBLIC_WEBSITE_NAME }} {{ WEB_SYSTEM_NAME }} is a tool for medical researchers at the Geisel School of Medicine at Dartmouth College and is funded in part by the CTSA grant."{% endblock page_description %}>

    <title>{% block title %}{{ WEB_SYSTEM_NAME }}{% endblock title %}</title>

    {% block css %}
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      {# <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet"> #}
      <link href="{% static 'css/dartmouth.css' %}" rel="stylesheet"> {# Modified bootstrap styles from Jorge #}
      <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" rel="stylesheet">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
      <link href="{% static 'css/m_class.css' %}" rel="stylesheet">
      <link href="{% static 'css/m_project.css' %}" rel="stylesheet">
      <link href="{% static 'css/input.css' %}" rel="stylesheet">
      <link href="{% static 'css/m_overrides.css' %}" rel="stylesheet">
      <link href="{% static 'css/crowd_source.css' %}" rel="stylesheet">
      <link href="{% static 'css/impart.css' %}" rel="stylesheet">
    {% endblock css %}

    {% block extra_css %} {% endblock extra_css %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 
  </head>

  <body>

    {% block body_wrapper %}
      <div id='all_body' class='wrapper'>
    {% endblock body_wrapper %}

    {% block header %}
      {% include '_header_impart.html' %}
    {% endblock header %}

    {% block side_nav %}{% endblock side_nav %}

    {% block pre_content %}
      <div id="main_body" class="m_maint container-fluid synergy_headers" role="main" aria-label="Main content">
    {% endblock pre_content %}

    {% block message_box %}
      {% include '_messages.html' %}
    {% endblock message_box %}

    {% block page_title %}{% endblock page_title %}

    <!-- Header needs to go in here in order for the footer to work -->
    {% block content %}{% endblock content %}

    {% block post_content %}
      </div>{# end main_body #}
      <div class="push"></div>
      </div>{# end wrapper #}
    {% endblock post_content %}

    {% block footer %}
      {% include '_footer_impart.html' %}
    {% endblock footer %}

    {% block js %}
      <script src="//code.jquery.com/jquery-latest.js"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.droptabs.js' %}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
      <script src="{% static 'js/project.js' %}"></script>
      {% include 'autocomplete_light/static.html' %}
    {% endblock js %}

    {% block piwik %}
      <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          //var u = (("https:" == document.location.protocol) ? "https" : "http") + "://informatics.dartmouth.edu/piwik//";
          var u = "https://informatics.dartmouth.edu/piwik//"
          _paq.push(['setTrackerUrl', u + 'piwik.php']);
          _paq.push(['setSiteId', 1]);
          var d = document,
              g = d.createElement('script'),
              s = d.getElementsByTagName('script')[0];
          g.type = 'text/javascript';
          g.defer = true;
          g.async = true;
          g.src = u + 'piwik.js';
          s.parentNode.insertBefore(g, s);
      })();
      </script>
      <noscript>
          <p><img src="//informatics.dartmouth.edu/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p>
      </noscript>
    {% endblock piwik %}

    {% block extra_js %} {% endblock extra_js %}

  </body>
</html>
{% spaceless %}
{% endspaceless %}
