{% extends "base.html" %}
{% load staticfiles %}
{% load floppyforms %}
{% load i18n %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>

  <div class="col-md-8 col-xs-12">
  <h2 class="centered"><a href="{% url 'crowd_sourcing:index' %}">{% trans "Crowd Sourcing" %}</a></h2>
  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %} 