{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load floppyforms %}
{% load i18n %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>
  <div class="col-md-8 col-xs-12">
    <h1 class="m_sections_title m_fsize2 text-center pad_bottom_small">{% trans 'About the Impart Crowd Sourcing Tool' %}</h1>
    <p></p>
    <p class="font_size_14">
        Impart is a crowd sourcing tool developed by ic3d at the Geisel School of Medicine at Dartmouth College.
    </p>

  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %} 