{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-1 col-xs-12"></div>

    <div class="col-md-10 col-xs-12 font_size_14">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-6 col-xs-12">
          <div class="bl font_size_12">{% trans "RESEARCH QUESTIONS" %}</div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="right_side details_title_bar">
            <a class="btn btn-lg orange_button" href="{% url app_name|add:':create' %}">
              {% trans IMPART_SUBMIT_QUESTION %}
            </a>
          </div>
        </div>
      </div>
      <form class="centered" id="research_question_topic_form" action="" method="get" role="form">
      {% csrf_token %}
         <input type="hidden" name="sort_type" id="sort_type" />
      <ul class="nav nav-pills">
        <li
          {% if active_tab == 'newest' %}
            class="navbar-text active"
          {% else %}
            class="navbar-text"
          {% endif %}
        id="newest_link"><a href="#">{% trans "NEWEST" %}</a></li>
        <li
          {% if active_tab == 'votes' %}
            class="navbar-text active"
          {% else %}
            class="navbar-text"
          {% endif %}
          id="votes_link"><a href="#">{% trans "MOST VOTED" %}</a></li>
        <li
          {% if active_tab == 'views' %}
            class="navbar-text active"
          {% else %}
            class="navbar-text"
          {% endif %}
          id="views_link"><a href="#">{% trans "MOST VIEWED" %}</a></li>
        <li class="navbar-right">
          <label for="topic_list">{% trans "FILTER BY" %}</label>
          <select name="topic_filter" id="topic_list">
              {% if current_filter == 'all' or current_filter == None %}
                  <option value="all" selected="selected">All Fields of Inquiry</option>
              {% else %}
                  <option value="all">All Fields of Inquiry</option>
              {% endif %}
              {% for topic in topic_list %}
                  {% if current_filter == topic.id|stringformat:"i" %}
                      <option value="{{ topic.id }}" selected="selected">{{ topic.name }}</option>
                  {% else %}
                      <option value="{{ topic.id }}">{{ topic.name }}</option>
                  {% endif %}
              {% endfor %}
          </select>
        </li>
      </ul>
      </form>
      <div class="container-fluid">
      <div class="thicker_hr"><hr></div>
      </div>
      <form name="information">
          <input type="hidden" name="name" id="name" />
      </form>
      <table class="new_research_question_table">
      <tbody>
      {% for question in questions %}
        <tr data-id="{{ question.topic_id }}">
        <td>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-6 col-xs-12">
              <span class="label label-default">{{ question.topic }}</span>
                <p></p>
                <a class="bl" href="{% url app_name|add:':comment_create' question.pk %} ">
                  {{ question.question }}
                </a>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="container-fluid pull-right">
                <div class="row-fluid">
                  <button type="button" class="btn views btn-circle btn-xl">
                    <p class="font-orange round_number_font pad_bottom_tiny">{{ question.view_count }}</p>
                    <p>view{{ question.view_count|pluralize }}</p>
                  </button>
                  &nbsp;
                  <button type="button" class="btn votes btn-circle btn-xl">
                    <p class="round_number_font pad_bottom_tiny">{{ question.total_votes }}</p>
                    <p>vote{{ question.total_votes|pluralize }}</p>
                  </button>
                  &nbsp;
                  <button type="button" class="btn comments btn-circle btn-xl">
                    <p class="round_number_font pad_bottom_tiny">{{ question.num_comments }}</p>
                    <p class="left-align">comment{{ question.num_comments|pluralize }}</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="container-fluid">
          <div class="row-fluid smaller_font">
            <div class="col-md-3 col-xs-12">
              {% if app_name == 'crowd_sourcing_open' %}
                {{ question.first_name }} {{ question.last_name }}
              {% else %}
                {{ question.user.first_name }} {{ question.user.last_name }}
              {% endif %}
            </div>
            <div class="col-md-9 col-xs-12 light_font">
              {{ question.created|date:"M d, Y" }} at {{ question.created|date:"H:i" }}
            </div>
          </div>
        </div>
        {% if not forloop.last %}
          <div class="padding_top_thicker_hr"><hr></div>
        {% else %}
          <div class="pad_bottom_small"></div>
        {% endif %}
        </td>
        </tr>
      {% empty %}
        <tr>
        <td>
          <p class="centered">{% trans "No questions yet" %}.</p>
        </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-1 col-xs-12"></div>
{% endblock content %}

{% block extra_js %}
    <script type='text/javascript'>
        $("#topic_list").change(function () {
            $("#research_question_topic_form").submit();
        });

        $("#newest_link").click(function () {
            $("#sort_type").val("newest");
            $("#research_question_topic_form").submit();
        });
        $("#votes_link").click(function () {
            $("#sort_type").val("votes");
            $("#research_question_topic_form").submit();
        });
        $("#views_link").click(function () {
            $("#sort_type").val("views");
            $("#research_question_topic_form").submit();
        });
    </script>
{% endblock extra_js %}
