{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load i18n %}

{% block content %}
  <div class="col-md-{{ FORMS_LEFT_GUTTER }} col-xs-12"></div>
    <h1 class="m_sections_title m_fsize2 text-center">Thank You</h1>
    <br />
    <p class="centered font_size_14">
        Thank you for submitting a question. We will review this question for feasibility and reply to you by email within 7 business days.  Questions are moderated and will appear in the list after being approved.
    </p>
    <br />
    <p class="centered">
        <a class="btn btn-lg orange_button" href="{% url app_name|add:':list' %}">
            {% trans IMPART_VIEW_SUBMITTED_QUESTIONS %}
        </a>
    </p>
  <div class="col-md-{{ FORMS_LEFT_GUTTER }} col-xs-12"></div>
{% endblock content %}
