{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load i18n %}

{% block content %}
  <div class="col-md-{{ FORMS_LEFT_GUTTER }} col-xs-12"></div>
    <h1 class="m_sections_title m_fsize2 text-center">You have unsubscribed.</h1>

    <p class="centered font_size_14">
        You have unsubscribed from the Impart New Submitted Question Notification List.
    </p>
    <p class="centered"><a href="{% url app_name|add:':index' %}">{% trans "Go to the home page." %}</a></p>
  <div class="col-md-{{ FORMS_LEFT_GUTTER }} col-xs-12"></div>
{% endblock content %}
