{% extends "crowd_sourcing/base_crowd_sourcing.html" %}
{% load i18n %}

{% block content %}
  <div class="col-md-{{ FORMS_LEFT_GUTTER }} col-xs-12"></div>
    <h1 class="m_sections_title m_fsize2 text-center">Thank You</h1>
    <br />
    <p class="centered font_size_14">
        Thank you for submitting a question!
    </p>
    <br />
    <p class="centered">
        <a class="btn btn-lg orange_button" href="{% url 'crowd_sourcing:list' %}">
            {% trans IMPART_VIEW_SUBMITTED_QUESTIONS %}
        </a>
    </p>
  <div class="col-md-{{ FORMS_LEFT_GUTTER }} col-xs-12"></div>
{% endblock content %}
