{% extends "auth/base_auth.html" %}
{% load i18n %}

{% block content %}
  <div id='project_index' class='m_main hg-st'>
    <div class="container">
      <div class="row pd_x">
        {% for button in child_buttons.all %}
          <a href="{% url button.destination %}" class="color2">
            <div class='col-xs-6 col-md-5 col-md-offset-1'>
              <div class="m_bx hg2">
                <h3 class="bl color2">
                  {{ button.title }}
                </h3>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
