{% extends "base_inspire.html" %}{% block title %}Clear Cache Key{% endblock %}

{% block page_title %}
  <h1>
    Enter the IP address you would like to remove from the cache:
  </h1>
{% endblock page_title %}

{% block content %}
  {% load floppyforms %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-1"></div>

      <div class="col-xs-12 col-md-10">
        <div class="col-sm-6 col-xs-12">
        <div class="col-sm-offset-2">
            <div class="m_form">
              <form method="post" action="" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                  <div class="col-xs-offset-1">
                    {{ form.as_p }}
                    <br/>
                    <div class="container-fluid">
                      <button type="submit" class="btn pull-right">Remove</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
        </div>
        </div>

      <div class="col-xs-12 col-md-1"></div>
    </div>
  </div>

{% endblock %}